{
  "extends": ["next", "next/core-web-vitals", "prettier"],
  "plugins": ["eslint-plugin-prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto",
        "semi": false
      }
    ]
  }
}
